@import url("https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif; /* Default font */
  background-color: #000;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Syne", sans-serif;
  font-weight: 700;
}
.title {
  display: flex;
  flex-direction: row;
  gap: "10px";
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
}
.title h3 {
  font-size: 40px;
  line-height: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: black;
  /* border-bottom: 1px solid gray; */
}

.logo {
  font-size: 24px;
  width: 45px;
  height: 32px;
}

.nav-links {
  list-style: none;

  display: flex;

  justify-content: space-evenly;
  gap: 40px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  font-family: "Syne", sans-serif; /* Keep Poppins for body */
}
.nav-links li a:hover {
  background: white;
  color: black;

  border: 2px solid white !important; /* Add border */
  border-radius: 50px;
}
.hire-me {
  background: transparent;
  text-transform: uppercase;
  font-size: 12px;
  color: hsl(0, 0%, 100%);
  border: 1px solid white !important; /* Add border */
  border-radius: 50px; /* Capsule shape */
  cursor: pointer;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.content {
  padding: 64px 100px;
}
/* banner */
.banner {
  text-align: center;
}

.banner h1 {
  font-size: 64px;
  font-weight: 800;
  text-transform: uppercase;
  /* font-weight: bold; */
  font-family: "Syne", sans-serif;
}

.banner-img {
  width: 128px;
  height: 64px;
  margin: 0 2px;
  border-radius: 100px;
  line-height: 80px;
}
.banner-section-2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.banner-section-2 div {
  width: 400px;
  font-family: "Poppins";
}
/*expertise  */

.expertise-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.expertise-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
  list-style-type: square; /* Adds bullet points */
  padding-left: 20px;
}

.expertise-list li {
  /* background: #121212; */
  padding: 15px 20px;
  /* border-radius: 10px;
  border: 1px solid gray; */
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.expertise-list h3 {
  font-family: "Syne", sans-serif;
  font-size: 22px;
  margin-bottom: 10px;
}

.expertise-list p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #ccc;
  line-height: 1.6;
}
/* works */
.card-container {
  height: 430px;
  border-radius: 40px;
  background-color: rgba(203, 203, 203, 0.48);
  padding: 32px;
  gap: 32px;
  margin: 30px 0;
}
.card {
  gap: 32px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: red; */
  /* justify-content: space-between; */
}
.card img {
  width: 500px;
  height: 429px;
  border-radius: 24px;
}
.details-div {
  /* background-color: antiquewhite; */
  height: 429px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card details-div h3 {
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
}
.card details-div p {
  font-weight: 400;
  font-size: 18px;
  /* font-family: ""; */
}
/* experience */
.experience-div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #ccc solid;
}
.experience-div h4 {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}
.experience-div h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

/* blogs */
.blog-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  gap: 100px;
}
.blog-div {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  align-items: center;
}

.blog-img {
  width: 286px;
  height: 214.5px;
  border-radius: 24px;
  object-fit: cover;
}
/* .blog-details-div {
  /* flex: 1; 
} */
.blog-details-div h3 {
  font-weight: 600;
  font-size: 40px;
  /* margin: 0; */
  margin: 12px 0;
  padding: 0;
  /* line-height: 100%; */
}
.testimonial-slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  /* text-align: center; */
}
.reviewer {
  width: 80%;
  display: flex;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
}
.testimonial-slide h4 {
  overflow-wrap: break-word;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.testimonial-slide h5 {
  width: 5rem;
  /* width: 80%; */
  margin: 5px 0;
  font-size: 32px;
}

.reviewer img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}
.testimonial-slide span {
  color: gray;
  font-size: 14px;
}
.slider-buttons {
  margin-left: 20px;
}
.slider-buttons button {
  /* float: left; */
  /* background-color: #ccc; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
.active,
.slider-buttons button:hover,
.slider-buttons button:active {
  background-color: white;
}

/* ----- FAQ */
.accordion-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.accordion-question {
  width: 100%;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.accordion-answer {
  padding: 10px;
  font-size: 16px;
  color: #ccc;
}

.arrow {
  font-size: 16px;
  margin-left: 10px;
}

/* footer */
.footer {
  width: 100%;
  display: flex; /* Ensure the footer itself is a flex container */
  flex-wrap: wrap; /* Allow wrapping if necessary */
  justify-content: center; /* Center the content horizontally */
}

.text-design-container {
  display: flex; /* Flexbox for text and image */
  flex-direction: row; /* Ensure they are in a row */
  justify-content: space-between; /* Space out items within the container */
  align-items: center; /* Vertically center the text and image */
  gap: 10px;
  margin: 10px; /* Add some space between items */
}

.text-design {
  font-family: Syne;
  font-weight: 700;
  font-size: 45px;
  line-height: 88px;
  letter-spacing: 0%;
  color: transparent; /* Makes the fill transparent */
  -webkit-text-stroke: 2px #cbcbcb; /* Outline text */
}
.footer h1 {
  text-align: center;
  font-weight: 800;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.footer .bottom-tags {
  width: 100%;
  max-width: 1200px;
  /* background-color: antiquewhite; */
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-tags ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
@media (max-width: 768px) {
  .content {
    padding: 5px;
    /* width: 100%; */
  }
  .title {
    justify-content: center;
    text-align: center;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .banner h1 {
    font-size: 32px;
    width: 100%;
  }
  .banner-section-2 {
    flex-direction: column;
  }
  .banner-section-2 p {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .expertise-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .work {
    width: 95%;
    /* background-color: beige; */
    margin: auto 30px;
  }
  .card-container {
    display: flex;
    height: max-content;
    /* width: 80%;
    margin: 30px 2px; */
    /* background-color: aqua; */
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }
  .card {
    flex-direction: column;
    height: max-content;
  }
  .card img {
    width: 100%;
    height: fit-content;
  }
  .details-div {
    height: fit-content;
  }
  .responsive {
    margin-bottom: 15px;
  }
  .expertise-grid {
    text-align: center;
  }
  .experience-div {
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
  }
  .blog-div,
  .blog-details-div {
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .blog-details-div h3 {
    /* margin-left: 5px; */
    text-align: center;
  }
  /* .text-design-container {
    flex-direction: column;
  } */
  br {
    display: none;
  }
  .testimonial-slide {
    flex-direction: column;
  }
  .bottom-tags {
    flex-direction: column;
  }
}
